body {
  margin: 0;
  background: #101010;
  font-family: 'Roboto', sans-serif;
  overflow-x: none;
  Display: none;
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  font-size: 60;
  transition: .8s ease-in-out;
  z-index: 100 !important;
  text-align: center;
}


#progress {
  position: absolute;
  background: #181818;
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
  z-index: 90 !important;
}

.center {
	display: block;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
 ******/
.controlimg {
	display: block;
	position: relative;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 125px;
	z-index: 100 !important;
}

#register {
	display: block;
  background: #252525;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
  z-index: 100 !important;
}

#register.close {
	display: block;
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
}

.next {
	display: block;
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #B9E3C6;
  float: right;
  cursor: pointer;
}
.next:hover {color: #333}
.wrong .next {color: #ff2d26}
.close .next {color: #fff}

#inputContainer {
	display: block;
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
	display: block;
  width: 100%;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
  color: #fff;
}

#inputLabel {
	display: block;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  transition: .2s ease-in-out;
  color: #fff;
}

#inputContainer input:valid + #inputLabel {
	display: block;
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
}

#inputProgress {
  display: block;
  position: absolute;
  border-bottom: 2px solid #B9E3C6;
  padding: 3px 0;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
	display: block;
  border-color: #ff2d26;
}